#FastApi
fastapi

#Uvicorn
uvicorn

#Pydantic
pydantic

#Database
sqlalchemy

#Hashing
passlib
bcrypt==4.0.1

#EmailValidarion
"pydantic[email]"

#Login form
python-multipart

#JWT Auth
"python-jose[cryptography]"

#Postgres Driver
psycopg2-binary